$mainBackgroundColor: #F3E47A;
$listBackgroundColor: #F8E46B;
$taskBackgroundColor: #3E3D2E;
$borderColor: #3E3D2E;
$buttonColor: #3E3D2E;
$shadowColor: #000000aa;

@mixin flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html {
  overflow: hidden;
}
#app {
  @include flex;
  justify-content: center;
  height: 100vh;
  background: radial-gradient(at 49vh 51vh, $mainBackgroundColor, black);
  overflow: hidden;
}
.to-do-list {
  position: absolute;
  right: 15%;
  height: 60vh;
  border: 2px solid $borderColor;
  outline: 1px solid $borderColor;
  background-color: $listBackgroundColor;
  box-shadow: 25px 35px 10px $shadowColor;
}
.task-input {
  width: 30vw;
  height: 12%;
}
.input-field {
  width: 70%;
  height: 100%;
  text-align: center;
  background-color: $buttonColor;
}
.input-field::placeholder {
  color: white;
}
.input-button {
  width: 30%;
  height: 100%;
}
.tasks-container {
  width: 100%;
  height: 80%;
  padding: 1em;
  overflow-y: auto;
  border-top: 2px solid $borderColor;
  border-bottom: 2px solid $borderColor;
}
.task-list {
  @include flex;
  gap: 1em;
}
.task {
  @include flex;
  flex-direction: row;
  width: 100%;
  height: 3rem;
  box-shadow: inset -2px -2px $borderColor, inset 2px 2px $borderColor, inset -4px -4px gray, inset 4px 4px black;
  background-color: $taskBackgroundColor;
}
.description {
  width: 90%;
  margin-left: 0.5em;
  font-size: 1.5em;
}
.remove-button {
  width: 3rem;
  height: 100%;
}
.task-sort-buttons {
  width: 100%;
  height: 8%;
}
.sort-button {
  width: 50%;
  height: 100%;
}
.input-button, .sort-button, .remove-button {
  background-color: $buttonColor;
  cursor: pointer;
  &:hover {
    filter: brightness(1.2);
  }
}

.the-sun{
  animation: rotate 10s linear infinite;
  width: 28vh;
  height: 28vh;  
  top: 35vh;
  left: 37vh;
  position: absolute;
}


.js-logo {
  position: absolute;
  width: 28vh;
  height: 28vh;
  top: 35vh;
  left: 37vh;
  z-index: 1;
}
.aureole {
  position: absolute;
  width: 28vh;
  height: 28vh;
  transform: scale(3);
  animation: aureole 5s ease-in-out infinite;
}
@keyframes aureole {
  0% {transform: scale(2.4);}
  50% {transform: scale(3);}
  100% {transform: scale(2.4);}
}
@keyframes rotate {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}

