$mainBackgroundColor: #F3E47A;
$listBackgroundColor: #F8E46B;
$taskBackgroundColor: #3E3D2E;
$borderColor: #3E3D2E;
$buttonColor: #3E3D2E;
$shadowBoxColor: #000000aa;

@mixin flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}

html {
  overflow: hidden;
}

#app {
  @include flex;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  background: radial-gradient(at 49vh 51vh, $mainBackgroundColor, black);
}

.to-do-list {
  position: absolute;
  height: 60vh;
  right: 15%;
  border: 2px solid $borderColor;
  outline: 1px solid $borderColor;
  background-color: $listBackgroundColor;
  box-shadow: 25px 35px 10px $shadowBoxColor;
  z-index: 2;
}

.task-input {
  width: 100%;
  height: 12%;
  background-color: $buttonColor;
}

.input-field {
  width: 70%;
  height: 100%;
  text-align: center;
  font-size: 1.6em;
  background-color: $buttonColor;
}

.input-field::placeholder {
  color: white;
}

.input-button {
  width: 30%;
  height: 100%;
  font-size: 1.6em;
}

.tasks-container {
  width: 100%;
  height: 80%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: $listBackgroundColor $borderColor;
  padding: 1em;
  border-top: 2px solid $borderColor;
  border-bottom: 2px solid $borderColor;
}

.task-list {
  @include flex;
  gap: 1em;
}

.task {
  @include flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  background-color: $taskBackgroundColor;
  box-shadow: inset -2px -2px $borderColor, inset 2px 2px $borderColor, inset -4px -4px gray, inset 4px 4px black;
}

.description {
  width: 25vw;
  margin-left: 0.5em;
  font-size: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.remove-button {
  width: 3rem;
  height: 100%;
  font-size: 1.5em;
}

.task-sort-buttons {
  width: 100%;
  height: 8%;
}

.sort-button {
  width: 50%;
  height: 100%;
  font-size: 1.5em;
}

.input-button, .sort-button, .remove-button {
  background-color: $buttonColor;
  cursor: pointer;
  &:hover {
    filter: brightness(1.2);
  }
}

.the-sun{
  position: absolute;
  top: 35vh;
  left: 37vh;
  width: 28vh;
  height: 28vh;  
  animation: rotate 10s linear infinite;
}

.js-logo {
  position: absolute;
  top: 35vh;
  left: 37vh;
  width: 28vh;
  height: 28vh;
  z-index: 1;
}

.aureole {
  position: absolute;
  width: 28vh;
  height: 28vh;
  animation: aureole 5s ease-in-out infinite;
}

@keyframes aureole {
  0% {transform: scale(2.4);}
  50% {transform: scale(3);}
  100% {transform: scale(2.4);}
}

@keyframes rotate {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}


@media screen and (max-width: 768px) {
  .input-field, .input-button, .description, .remove-button, .sort-button {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .input-field, .input-button, .description, .remove-button, .sort-button {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 1280px) {
  .the-sun, .js-logo {
    left: calc(50% - 14vh)
  }
  .to-do-list {
    position: static;
    margin: auto;
  }
  .js-logo {
    display: none;
  }
  @keyframes aureole {
    0% {transform: scale(3);}
    50% {transform: scale(3.6);}
    100% {transform: scale(3);}
  }
}
